{
  "extends": "airbnb",
  "globals": {
    "describe": false,
    "expect": false,
    "fetch": false,
    "it": false,
    "jest": false
  },
  "rules": {
    "jsx-a11y/anchor-is-valid": "off"
  }
}